html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#boardDiv {
  position: fixed; 
  width: 100%;
  height: 100%;
}

#tutorial {
  position: absolute;
  top: 1;
  right: 0;
  opacity: 0.8;
}

#algorithm-text {
  width: 250px;
}

.btn.btn-secondary {
  width:110px;
}

#startBtn {
  width: 110px;
}