.mydropdown-item{
display:block;
width:100%;
padding:.25rem 1.5rem;
clear:both;
font-weight:400;
color:#2980B9
text-align:inherit;
white-space:nowrap;
background-color:transparent;
border:0}


.mydropdown-item:focus,.mydropdown-item:hover{color:white;text-decoration:none;
  background:#F4A460}
.mydropdown-item.active,.mydropdown-item:active{color:white;text-decoration:none;background-color:#1E90FF}
.mydropdown-item.disabled,.mydropdown-item:disabled{color:#6c757d;pointer-events:none;background-color:transparent}
.mydropdown-menu.show{display:block}
.mydropdown-header{display:block;padding:.5rem 1.5rem;margin-bottom:0;font-size:.875rem;color:#6c757d;white-space:nowrap}
.mydropdown-item-text{display:block;padding:.25rem 1.5rem;color:#212529}
/*
#boardDiv {background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
border: 1px solid black; }
*/

/*
.btn-dark {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
/*}*/


.btn{
font-family: inherit;
float: left;
font-size: 16px;
padding: 8px 8px 8px 8px;
font-weight: 500;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #F4A460;
    border-color: #f6b278; /*set the color you want here*/

}
/*
.btn-group{
padding: 2px 4px 2px 2px;

}
*/
@media (max-width: 768px) {
    .btn, .btn-group {
        width:100%;
    }
}

.navbar-outer {
  width:500px;
}

.icon-bar {
  width: 100%;
  /*background-color: #555;*/
  overflow: auto;
}
/*
.sidebar{
background-color: 	
}
*/

.NotationsBar{
    float: left;
    /*overflow: hidden;*/
    font-size: 16px;
    color:#333;
    background-color: white;
    padding: 2px 2px 2px 2px;

}

.startstyle{
    color:#1fd613;
    font-size: 24px;
}

.stopstyle{
    color:red;
    font-size: 24px;
}

.viastyle{
    color:#146c91;
    font-size: 24px;
}

.shortestpathstyle{
    color:#ebeb2a;
    font-size: 24px;
}

.shortestpathstyle1{
    color:#FF8C00;
    font-size: 24px;
}

.obstaclestyle{
    color:#696969;
    font-size: 24px;
}

.terrainstyle{
	color:#8B0000;
	/*background:linear-gradient(to right, #ffccff 0%, #a34a40 100%);*/
    font-size: 24px;	
}

.visitedstyle{
	color:#58c4b7;
    font-size: 24px;		
}

.visitedstyle1{
    color:#8A2BE2;
    font-size: 24px;        
}

.toggle { 
    position : relative ; 
    display : inline-block; 
    width : 50px; 
    height : 25px;
    background-color: #e81344;
    border-radius: 11px; 
    /* border: 2px solid #fff;  */
} 

.toggle:after { 
    content: ''; 
    position: absolute; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: #fff; 
    top: 2px; 
    left: 1px; 
    transition: all 0.15s; 
} 	

p { 
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 24px; */
    color: #fff; 
} 
        
.checkbox:checked + .toggle::after { 
    left : 29px;
} 
			
.checkbox:checked + .toggle { 
    background-color: #1fd613;
} 
			
.checkbox { 
    display : none;
}